body{
  display: flex;              /* ← 中央揃えのためにflexを使う */
  flex-direction: column;     /* 上から縦に並べる */
  align-items: center;   
  background: linear-gradient(to right, blue, pink);
}

table.memo-table {
  margin: 0 auto;
  background-color: #fff;
  border-collapse: collapse;
  width: 60%;
  border-radius: 8px;
  overflow: hidden;
}

.memo-table th, .memo-table td {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.memo-table th {
  background-color: #f4f4f4;
}

.memo-table tr:hover {
  background-color: #f1f1f1;
}

.memo-table a {
  color: red;
}


.memo-table th,
.memo-table td {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  text-align: center; /* ← ここをleft → center に変更！ */
}
